<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌿PathPal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.css') }}"> 
</head>
<body>
    <div class="header"><strong>PathPal</strong>
        <div class="text">Discover Your Path: Navigate Through Cities with Ease</div>
    </div>
    
    <form action="/select_cities" method="POST">
        <div class="container"> 
            <div class="first"> 
                <strong>🏕️Select Measure</strong>
            <label>
                <input type="radio" name="measure" value="distance" required>
                Optimize by Distance
            </label>
            <label>
                <input type="radio" name="measure" value="time" required>
                Optimize by Time
            </label>
            <strong>🏠Select Start City</strong>
            <select name="start_city" required>
                {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select></div>
       
        <div class="second"> <strong>📌 Select Cities</strong>
            {% for city in cities %}
            <label>
                <input type="checkbox" name="cities" value="{{ city }}">
                {{ city }}
            </label>
            {% endfor %}
        </div>
        </div>
       <button type="submit">Calculate Route</button>
    </form>
</body>
</html>
